body {
  background-color: #4b4b4b;
  color: #e0e0e0;
}

.center {
  text-align: center;
}

.heading {
  text-align: center;
  font-size: 48px;
}

.slide-container {
  width: 50%;
  display: block;
  margin: 0 auto;
}

.float-right {
  clear: both;
  float: right;
  margin: 20px;
  transform: translateX(50%) scale(0.95);
}

.float-left {
  clear: both;
  float: left;
  margin: 20px;
  transform: translateX(-50%) scale(0.95);
}

.slide-in {
  opacity: 0;
  transition: all 1.5s;
}

.slide-in.active {
  opacity: 1;
  transform: translateX(0%) scale(1);
}

















/* .someContent {
  border-top: solid 2px #fff;
  border-bottom: solid 2px #fff;
  padding: 30px 0;
  margin: 30px 0;
}

.someContent img {
  width: 80%;
  display: block;
  margin: 0 auto;
}

.card {
  width: 800px;
  height: auto;
  position: relative;
  left: -1000px;
}

.card-text {
  border: solid 2px white;
  width: 300px;
  border-radius: 25px;
  padding: 20px;
  position: absolute;
  bottom: -25px;
  right: -25px; 
  background-color: #ffffff;
  color: #000000;
}

.card-text h2, .card p {
  text-align: center;
}

.card img {
  width: 100%;
  display: block;
  margin: 0 auto;
  border-radius: 25px;
}

.slide-in {
  animation-name: slide-in;
  animation-duration: 1s;
  animation-iteration-count: once;
  animation-fill-mode: forwards;
}

@keyframes slide-in {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1000px);
  }
} */