$mainTheme: #222629;
$accentOne: #474b4f;
$accentTwo: #6b6e70;
$accentThree: #61892f;
$accentFour: #86c232;

$themePadding: 20px;

$animationTime: 1.5s;

$break-small: 480px;
$break-medium: 768px;
$break-large: 1024px;
$break-xlarge: 1224px;