$timing: 1s;
$instructorCardWidth: 300px;
$standardMargin: 20px;

h1 {
  margin: 5vh 0;
}

.instructors-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  row-gap: calc(#{$instructorCardWidth} / 3);
  .instructor-card {
    width: $instructorCardWidth;
    height: $instructorCardWidth;
    position: relative;
    justify-self: center;
    @media screen and (min-width: $break-medium){
      &:nth-child(3n+1) {
        justify-self: right;
      }
      &:nth-child(3n+2) {
        justify-self: center;
      }
      &:nth-child(3n) {
        justify-self: left;
      }
    }
  }
  @media screen and (min-width: $break-medium){
    grid-template-columns: [Start-Line] 1fr [line2] $instructorCardWidth [line3] 1fr [End-Line];
    column-gap: calc(#{$instructorCardWidth} / 3);
  }
}  
    
.instructor {
  width: 100%;
  height: 100%;
  border: solid 1px black;
  background: lightyellow;
  color: black;
  position: relative;
  display: grid;
  grid-template-columns: calc(#{$instructorCardWidth} / 3) 1fr;
  grid-template-rows: calc(#{$instructorCardWidth} / 3) 1fr;
  grid-template-areas:
    "instructor-photo instructor-info"
    "instructor-bio instructor-bio"
    "read-more read-more";
  .instructor-photo {
    grid-area: instructor-photo;
    img {
      transition: $timing;
      min-width: calc(#{$instructorCardWidth} / 3);
      height: calc(#{$instructorCardWidth} / 3);
      object-fit: cover;
      object-position: top;
      border-radius: 50%;
      border: solid 3px red;
      transform: translate(-20%, -20%)
    }
  }
  .instructor-info {
    grid-area: instructor-info;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: $timing;
    h3, h4 {
      margin: 0;
      text-align: center;
    }
  }
  .instructor-bio {
    grid-area: instructor-bio;
    width: calc(#{$instructorCardWidth} - #{$standardMargin} * 2);
    transition: $timing;
    padding: 0;
    margin: 0 $standardMargin;
    overflow: hidden;
    p {
      overflow: hidden;
      .hidden-text {
        display: none;
      }
      .show-text {
        display: block;
      }
    }
  }
  .read-more {
    grid-area: read-more;
    transition: $timing;
    margin: $standardMargin;
    padding: 10px;
    width: calc(#{$instructorCardWidth} / 2);
  }
  &.instructor-active {
    animation: enlarge-card $timing forwards;
    transition: transform $timing;
    @media screen and (min-width: $break-medium){
      &.left-card-active {
        transform: translate(calc(#{$instructorCardWidth} / 3), calc(#{$instructorCardWidth} / 6));
      }
      &.middle-card-active {
        transform: translate(-$instructorCardWidth, calc(#{$instructorCardWidth} / 6));
      }
      &.right-card-active {
        transform: translate(calc(-#{$instructorCardWidth} * 2 - #{$instructorCardWidth} / 3), calc(#{$instructorCardWidth} / 6));
      }
    }
    .instructor-photo {
      img {
        transition: $timing;
        transform: translate(calc(#{$instructorCardWidth} / 3), 10px);
        @media screen and (min-width: $break-medium){
          transform: translate(0, 0);
          border-radius: 0;
          min-width: $instructorCardWidth;
          height: calc(#{$instructorCardWidth} * 2);
        }
      }
    }
    .instructor-info {
      transition: $timing;
      transform: translate(calc(#{$instructorCardWidth} / -6), calc(#{$instructorCardWidth} / 3));
      @media screen and (min-width: $break-medium){
        transform: translate(0,0);
      }
    }
    .instructor-bio {
      transform: translateY(calc(#{$instructorCardWidth} / 3));
      @media screen and (min-width: $break-medium){
        transform: translateX($instructorCardWidth);
        width: calc(#{$instructorCardWidth} * 2 - #{$standardMargin} * 2);
      }
    }
    .read-more {
      @media screen and (min-width: $break-medium){
        transform: translateX($instructorCardWidth);
      }
    } 
  }
  &.return-instructor {
    animation: return-card $timing forwards;
    transition: transform $timing;
  }
}
  


@keyframes enlarge-card {
  0% { z-index: 1 }
  100% {
    z-index: 1;
    height: calc(#{$instructorCardWidth} * 3);
  }
}

@keyframes return-card {
  0% {
    z-index: 1;
    height: calc(#{$instructorCardWidth} * 3);
  }
  99% {
    z-index: 1;
  }
  100% {
    z-index: 0;
    width: $instructorCardWidth;
    height: $instructorCardWidth;
  }
}

@media screen and (min-width: $break-medium){
  @keyframes enlarge-card {
    0% { z-index: 1 }
    100% {
      z-index: 1;
        width: calc(#{$instructorCardWidth} * 3);
        height: calc(#{$instructorCardWidth} * 2);
    }
  }

  @keyframes return-card {
    0% {
      z-index: 1;
        width: calc(#{$instructorCardWidth} * 3);
        height: calc(#{$instructorCardWidth} * 2);
    }
    99% {
      z-index: 1;
    }
    100% {
      z-index: 0;
      width: $instructorCardWidth;
      height: $instructorCardWidth;
    }
  }
}