@import url("https://fonts.googleapis.com/css?family=Montserrat");
* {
  box-sizing: border-box;
}

body {
  background: #efefef;
  color: #333;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.15em;
  font-size: 18px;
}

.sliding-cards-section{
  overflow: hidden;
  .sliding-cards-track {
    width: 10000px;
    height: 400px;
    margin: 10vh 0;
    background: #555555;
    overflow: hidden;
    position: relative;
    .sliding-cards {
      position: absolute;
      display: flex;
      width: auto;
      cursor: pointer;
      .buffer {
        width: 50vw;
        border: solid 2px yellow;
      }
      li {
        margin-right: 16px;
      }
      .card {
        width: 300px;
        height: 400px;
        &:nth-child(even) {
          background-color: lightgreen;
        }
        &:nth-child(odd) {
          background-color: lightblue;
        }
      }
    }
  }
}





